@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.header{
  color: #fff;
  background: #000;
  padding: 80px 40px;

  h1{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  h3{
    margin: 0;
    font-size: 30px;
  }
}